/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.displayOff {
  display:none;
}

body {

}

li {
  list-style-type: none;;
}

button:hover {
  background-color: pink;
}
button:active {
  background-color:red;
}




/********************
**********************
/* LAYOUT
/*******************************************/
h1, h4 {
  text-align: center;
}


nav {
  display:flex;
  justify-content: space-evenly;
}

header nav ul {
  display:flex;
  justify-content: space-between;
  gap:10px;
  padding:0;
}


h3{
  text-align: center;
  display:block;
}

h4{
  margin:0;
}

#wordsHere {
  text-align: center;
  padding:0;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height:400px;
}

#wordsHere li {
  margin-top:10px;
  margin-bottom:10px;
  font-size:30px;
}



.bottomButtons{
  justify-content: center;
  gap:10px;
  display: flex;
}


.bottomButtons button {
  background-color: blueviolet;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
